@model proyectoprogramado.Models.Infomodel

@{
    ViewData["tittle"] = "Profile";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model=> Model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(Model=> Model.nombre)
            </th>
        </tr>
    </thead>
</table>
<tbody>        
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => Model.apellido)     
        </td>
    </tr>
</tbody>