<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="css/Login.css">  
</head>    
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="Post" asp-action="Login" asp-controller="Login">    
        <label><b>User Name:     
        </b>    
        </label>    
        <input type="text" name="id" id="id" placeholder="Identity" autocomplete="off">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" id="password" placeholder="Password" autocomplete="off">    
        <br><br>    
        <input type="submit" value="Log in">       
        <br><br>    
    </form>     
</div>    
</body>    
</html>  